<div>Routes</div>
<% Rails.application.routes.routes.select{|x| x.path.spec.to_s.include? 'api'}.each do |route| %>
<div><%= link_to route.path.spec.to_s.gsub(/\(.*\)/, ''), route.path.spec.to_s.gsub(/\(.*\)/, '') %></div>
<% end %>